@media (min-width: $bp-md) {
  main {
    display: flex;
  }
  [data-ui-component="Me"] {
    flex: 1;
  }
  [data-ui-component="Music"] {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  [data-ui-component="Music-mix"] {
    order: 1;
  }
}

@media (min-width: $bp-lg) {
  [data-ui-component="Music"] {
    flex-direction: row;
  }
  [data-ui-component="Music-about"] {
    width: calc(50% - #{$space}*2);
  }
  [data-ui-component="Music-mix"] {
    width: 50%;
  }
  [data-ui-component="Me"] {
    width: calc(33% - #{$space}*2);
    flex-basis: auto;
    flex-grow: 0;
  }
  [data-ui-component="Music-about"],
  [data-ui-component="Music-mix"] {
    flex: 1 0 auto;
  }
}
