.Section {
  padding: $space;
}

.Section--noSpace {
  padding: 0;
}

.Section--blue {
  background-color: $c-blue;
}

.Section--green {
  background-color: $c-green;
}

.Section--red {
  background-color: $c-red;
}

.Section--yellow {
  background-color: $c-yellow;
}
