html.Type {
  font-family: 'Alef', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.Type--lg {
  font-size: 1.25rem;
}

.Type--md {
  font-size: 1rem;
}

.Type--space {
  line-height: 1.3;
}

.Type--bold {
  font-weight: 700;
}

[class*="Type"]:first-child {
  margin-top: 0;
}
