ul.Dancers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Dancers-list blockquote {
  margin: 0;
}

.Dancers-list cite {
  font-style: normal;
  font-weight: bold;
}
.Dancers-list cite:after {
  content: ":";
}

.Dancers-list p:not(:last-child):after {
  content: "";
  display: block;
  margin: 1em 0;
}
.Dancers-list div,
.Dancers-list p {
  display: inline;
}
.Dancers-list div:before,
.Dancers-list div:after {
  content: "\""
}

.Dancers-list img {
  border-radius: 50%;
  margin-left: 1em;
}

.Dancers-list li {
  display: flex;
  margin-bottom: 1em;
}

.Dancers-list [id*="dancers-"] {
  display: none;
}

.Dancers-list [id*="dancers-"]:target {
  display: block;
}
