ul.Gallery-list {
  list-style-type: none;
  padding: 0;
}

.Gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.Gallery-list li {
  margin: 0.5em;
  flex-grow: 1;
	flex-basis: 80px;
}

.Gallery-list img {
  display: block;
	width: 100%;
}

.Gallery-overlay {
	opacity: 0;
	position: fixed;
	top: 0; left: 0;
	bottom: 0; right: 0;
	transition: opacity .2s ease;
	z-index: -1;
}

.Gallery-overlay:target {
	opacity: 1;
	z-index: auto;
}

.Gallery-preload .Gallery-large {
	position: absolute;
	transform: scale(0);
	top: $h-nav-short;
  left: 0; bottom: 0; right: 0;
	margin: auto;
	transition: transform .5s ease;
	max-width: 70%;
  max-height: calc(85% - #{$h-nav-short});

  @media (min-width: $bp-nav) {
    top: $h-nav-high;
    max-height: calc(85% - #{$h-nav-high});
  }
}

.Gallery-overlay:target .Gallery-large {
	transform: scale(1);
}


.Gallery-overlay {
  .Gallery-next,
  .Gallery-prev,
  .Gallery-close {
    position: absolute;
    top: $h-nav-short; bottom: 0;
    width: 60px;

    @media (min-width: $bp-nav) {
      top: $h-nav-high;
    }

    &:hover {
      svg {
        fill: $c-green;
      }
    }

    svg {
      fill: white;
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      margin: auto;
      transition: fill .5s ease;
      transform: scale(0.7);

      @media (min-width: $bp-md) {
        transform: none;
      }
    }
  }

  .Gallery-next {
    right: 0;
  }

  .Gallery-prev {
    left: 0;
  }

  .Gallery-close {
    right: 0;
    height: $space*4;
    z-index: 1;
    @media (min-height: $bp-short) {
      height: $space*6;
    }
    // @media (min-width: $bp-nav) {
    //   height: $space*8;
    // }
    &:hover {
      svg {
        fill: $c-orange;
      }
    }
  }

}
