ul.Gallery-list {
  list-style-type: none;
  padding: 0;
}

.Gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.Gallery-list li {
  margin: 0.5em;
  flex-grow: 1;
	flex-basis: 80px;
}

.Gallery-list img {
  display: block;
	width: 100%;
}

.Gallery-overlay {
	opacity: 0;
	position: fixed;
	top: 0; left: 0;
	bottom: 0; right: 0;
	transition: opacity .2s ease;
	z-index: -1;
}

.Gallery-overlay:target {
	opacity: 1;
	z-index: auto;
}

.Gallery-preload .Gallery-large {
	position: absolute;
	transform: scale(0);
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	transition: transform .5s ease;
	max-width: 100%;
}

.Gallery-overlay:target .Gallery-large {
	transform: scale(1);
}


.Gallery-overlay {
  .Gallery-next,
  .Gallery-prev {
    position: absolute;
    top: 0; bottom: 0;
    width: 60px;
    transition: background-color .5s ease;

    &:hover {
      background-color: rgba(black, 0.5);
    }

    svg {
      fill: white;
      position: absolute;
      top: 0; bottom: 0;
      margin: auto;
    }
  }

  .Gallery-next {
    right: 0;
  }

  .Gallery-prev {
    left: 0;
  }

}