html, body {
  height: 100%;
}

main {
  position: relative;
}

body:before {
  content: "";
  display: block;
  height: 100%;
  position: relative;
}

.Hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
}

.Hero-element {
  z-index:1;  
  max-width: 240px;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.Hero-title {
  $h-element: 133px;

  font-size: 1.25rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-top: 1.5em;

  @media (min-width: $bp-md) {
    font-size: 1.5rem;
    top: 50%;
    margin-top: $h-element / 2 + 32px;
  }
}