.Icon {
  display: inline-block;
  text-align: center;
}

.Icon:before {
  $w: 80px;
  $h: 80px;
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
  background-repeat: no-repeat;
}

.Icon[data-ui-component="Contact-phone"]:before {
  background-image: url(../images/icon-phone.png);
}

.Icon[data-ui-component="Contact-email"]:before {
  background-image: url(../images/icon-email.png);
}

.Icon[data-ui-component="Contact-fb"]:before {
  background-image: url(../images/icon-fb.png);
}

a.Icon-text {
  color: inherit;
  text-decoration: none;
  display: block;
}
