.MainNav {
  padding: 1em 3em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

ul.MainNav-list {
  list-style-type: none;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
}

.MainNav-list {
  position: absolute;
  left: 1.5em;
  top: 2em;
}

.MainNav-list li a {
  display: block;
  padding: 1.5em 3em;

  @media (max-height: $bp-short) {
    padding: 1em 2em;
  }
}

.MainNav-list {
  transform: scale(0);
  transform-origin: top left;
  transition: all 0.3s ease;
}

.MainNav-list.isOpen{
  transform: scale(1);
  transition: transform .3s ease;
}

.MainNav-toggle {
  float: left;
  position: relative;
  left: -1.5em;
}

.MainNav-toggle img {
  vertical-align: middle;
}

@media (min-width: $bp-md) {
  .MainNav-list {
    transform: none;
    transition: none;
  }
  .MainNav-list:target {
    display: flex;
  }
  .MainNav-list {
    display: flex;
    position: static;
    background-color: transparent;
    margin-top: 0;
    color: inherit;
    justify-content: center;
  }
  .MainNav-list li:hover {
    background-color: transparent;
    color: #333;
  }
  .MainNav-list li a {
    padding: 0 1em;
  }
}