section {
  padding: 1em;
}

@media (min-width: $bp-md) {
  section {
    padding: 2em;
    margin: 2em;
  }
}

@media (min-width: $bp-lg) {
  section {
    margin: 2em auto;
    max-width: 800px;
  }
  section:first-child {
    margin-top: 0;
  }
}