body { color: white; }
.MainNav { background-color: $c-green; }
.About { background-color: $c-blue; }
.Music { background-color: $c-orange; }
.Gallery { background-color: $c-black; }
.Dancers { background-color: $c-green; }
.Contact { background-color: $c-yellow; }

@media (min-width: $bp-md) {
  $opacity: 0.9;
  .About { background-color: rgba($c-blue, $opacity); }
  .Music { background-color: rgba($c-orange, $opacity); }
  .Gallery { background-color: rgba($c-black, $opacity); }
  .Dancers { background-color: rgba($c-green, $opacity); }
  .Contant { background-color: rgba($c-yellow, $opacity); }
}

.MainNav {
  box-shadow: 0 0 2px 0 $c-dark;
}

.MainNav-list {
  background-color: $c-dark;
  color: $c-whiteish;
}

.MainNav-list li:hover {
  background-color: $c-black;
}

.Gallery-overlay {
  background-color: rgba($c-black, 0.8);
}