body { color: white; }
.MainNav { background-color: $c-green; }
.About { background-color: rgba($c-blue, $o-sections); }
.Music { background-color: rgba($c-orange, $o-sections); }
.Gallery { background-color: rgba($c-black, $o-sections); }
.Dancers { background-color: rgba($c-green, $o-sections); }
.Contact { background-color: rgba($c-yellow, $o-sections); }

.MainNav {
  box-shadow: 0 0 2px 0 $c-dark;
}

.MainNav-list {
  background-color: $c-dark;
  color: $c-whiteish;
}

.MainNav-list li:hover {
  background-color: $c-black;
}

.Gallery-overlay {
  background-color: rgba($c-black, $o-gallery);
}
