html.Type {
  font-size: 100%;
  font-family: 'Alef', sans-serif;
}

@media (min-width: $bp-md) {
  html.Type {
    font-size: 125%;
  }
}

.Type--bold {
  font-weight: 700;
}

.Type--md {
  font-size: 1rem;
}

.Type--sm {
  font-size: 0.8rem;
}

section [class*="Type"]:first-child {
  margin-top: 0;
}
