$c-green: #1d9968;
$c-blue: #196780;
$c-orange: #d3562f;
$c-black: #000;
$c-yellow: #d2b934;
$c-dark: #25292C;
$c-whiteish: #D1D1D1;

$bp-sm: 450px;
$bp-md: 800px;
$bp-lg: 960px;
$bp-short: 380px;
$bp-nav: $bp-md;

$o-sections: 0.9;
$o-sections-lite: 0.5;
$o-gallery: 0.8;

$h-nav-short: 56px;
$h-nav-high: 70px;

$space: 16px;
